@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
header .logo{
    color:#fff;
    font-size:24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display:flex;
}
header ul li{
    position:relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display:inline-block;
    margin:0 15px;
    color:#fff;
    text-decoration: none;
}
/* Creating Stiky Header Menu Nav Bar */
header.sticky{
    background:#AC87C5;
    opacity: 0.6;
    padding:20px 100px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}
header.sticky .logo{
    color:#0F044C;
}
header.sticky ul li a{
    color:#0F044C;
}

/* Creating project Layout */
section{
    padding:80px;
}
.banner{
    position:relative;
    min-height: 100vh;
    background:#0F044C;
    background-size:cover;
    background-position: right;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 2.5em;
    color:#444;
    font-weight: 300;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.2em;
    font-weight: 300;
    color:#ecd8e8;
}
.banner h3{
    color:#ecd8e8;
    font-size: 1.5em;
    font-weight: 500;
}
.btn{
    position:relative;
    background:#711DB0;
    display:inline-block;
    color:#ecd8e8;
    margin-top: 20px;
    padding:10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.project{
    background: #0F044C;

}

.des{
    color: #ecd8e8;
}

.project .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.project .content .serviceBx h3{
    color: #AC87C5;
}
.project .content .serviceBx{
    color: #ecd8e8;
    background: #141E61;
    margin: 10px 15px;
    padding: 30px 15px;
    text-align: center;
    max-width: 360px;
    border-radius: 20px;
}

.project .content .serviceBx:hover{
    border-bottom: 3px solid #E7BCDE;
    transition: 0.2s;
    cursor: pointer;
}

    /* Creating About Layout */

.about{
    background: #0F044C;
}
.content{
    display:flex;
    justify-content: space-between;
    
}

.heading{
    width:100%;
    text-align: center;
    margin-bottom: 30px;
}
.heading p{
    font-style: italic;
    font-size:14px;
}
.heading h2{
    font-size: 3em;
    color:#711DB0
}
.contentBx{
    padding-left:40px;
    text-align: justify;
}
.contentBx h2{
    font-weight: 300;
    margin-bottom: 10px;
}
.proPic{
    width:300px;
    height:350px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.heading.bottom{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
}
.btn.round{
   border-radius:50px;    ;
   -webkit-border-radius:50px    ;
   -moz-border-radius:50px    ;
   -ms-border-radius:50px    ;
   -o-border-radius:50px    ;
}
.info{
    display:flex;
    justify-content: space-between;
}
.bt{
    margin-top: 20px;
    color: #E7BCDE;
}
.w50{
    min-width:25%;
    color: #E7BCDE;
}
img{
    max-width:100%;
}



.services{
    background:#0F044C;
}
.heading.white p{
    color:#fff;
}
.services .content{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.services .content .servicesBx{
    color:#fff;
    background:#0F044C;
    padding:30px 15px;
    max-width: 360px;
    margin:10px 15px;
    text-align: center;
}
.services .content .servicesBx:hover{
    border-bottom:2px solid #711DB0;
    cursor:pointer;
}
.services .content .servicesBx .fa{
    margin-bottom: 10px;
    color:#711DB0;
}

/* Creating Testimonial Layout in CSS */
.testimonial{
    background:#0F044C;
}
.testimonial .content{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.testimonial .content .testimonialBx{
    background:#141E61;
    padding:60px 40px;
    margin:20px;
    max-width:calc(50% - 40px);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.testimonial .content .testimonialBx:hover{
    border-bottom:2px solid #711DB0;
    cursor:pointer;
}
.testimonial .content .testimonialBx p{
    color:#fff;
    font-style: italic;
    font-size:18px;
    font-weight: 100;
    font-family: "Times New Roman", Times, serif;
    line-height: 24px;
}
.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    color:#711DB0;
    font-weight: 200;
    line-height: 1.7em;
    font-size: 20px;
    font-style: italic;
}

/* Creating Contact Details Layout in CSS */
.contact{
    background:#0F044C;
}

.formBx{
    min-width:60%;
}
.formBx form{
    display:flex;
    flex-direction:column;
}
.formBx form h3,
.contactInfo h3{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea{
    margin-bottom: 20px;
    padding:15px;
    font-size: 16px;
    background:transparent;
    border:none;
    outline:none;
    background:#141E61;
    resize:vertical;
    color:#fff;
}
.formBx form input:focus,
.formBx form textarea:focus{
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    border-bottom:1px solid #711DB0;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder{
    color:#E7BCDE;
}
.formBx form input[type="submit"]{
    background:#711DB0;
    max-width:250px;
    cursor:pointer;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.contactInfo{
    min-width:40%;
}
.contactInfo p{
    color:#E7BCDE;
}
.contactInfoBx{
    position:relative;
}
.contactInfoBx .box{
    position:relative;
    padding:20px 0;
    display:flex;
}
.contactInfoBx .box .icon{
    color:#fff;
    min-width:40px;
    padding-top:4px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text{
    color:#E7BCDE;
    margin-left:20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3{
    font-weight: 500;
    color:#711DB0;
    margin-bottom: 0;
}
.contactInfoBx .box .text p{
    font-weight: 300;
    color:#E7BCDE;
}
.contactInfoBx .boxSocial{
    display:flex;
    flex-direction:row;
    letter-spacing: 15px;
    padding-left:60px;
}
.contactInfoBx .boxSocial .fa{
    color:#711DB0;
    font-size: 42px;
    cursor:pointer;
    
}
footer.copyright{
    background:#141E61;
    color:#fff;
    text-align: center;
    padding:10px;
}
@media (max-width: 991px)
{
    header,
    header.sticky{
        padding:20px 50px;
		z-index:2;
    }
    header .menu{
        display:none;
        z-index:1;
    }
    header .menu{
        position:fixed;
        background:#fff;
        display:block;
        top:75px;
        left:-100%;
        padding:100px 50px;
        width:100%;
        height:100vh;
        border-top:1px solid rgba(0,0,0,0.2);
        text-align:center;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
}
    header .menu.active{
        position: fixed;
        top: 75px;
        left: 0;
        padding: 100px 50px;
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
    }
    header ul li a{
        font-size: 20px;
        font-weight: 400;
        color:#0F044C;
        margin:10px 0;
    }
    .toggle{
        width:40px;
        height:40px;
        background:url(images/menu.png);
        background-position:center;
        background-size:30px;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    .toggle.active{
        width:40px;
        height:40px;
        background:url(images/close.png);
        background-position:center;
        background-size:25px;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    header.sticky .toggle{
        filter:invert(1);    ;
        -webkit-filter:invert(1)    ;
    }
    section {
        padding: 100px 30px;
    }
    .banner{
        padding:150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;;
    }
    .textBx{
        position:relative;
        top:170px;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius:50px;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        -ms-border-radius:50px;
        -o-border-radius:50px;
    }
    .content{
        flex-direction: column;
    }
    .contentBx{
        padding:0;
    }
    .content .w50 img{
        display:block;
        margin:0 auto 30px auto;
    }
    .heading h2{
        font-size:24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .contentBx h2{
        font-size: 20px;
        font-weight: 300;
    }
    .services .content .servicesBx{
        margin:10px;
    }
    .contactInfo{
        margin:10px 0;
    }
}

@media (max-width: 768px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:row;
    }
}

@media (max-width: 600px){
    .testimonial .content .testimonialBx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 30px;
    }
    .heading.bottom{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }
}
